body {
  margin: 0;
  font-family: rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-size: 14px;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}

p {
  margin: 10px 0;
}

.Toastify__toast-body {
  word-break: break-all;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4rem;
  padding: 2rem 3rem;
}

.site-title {
  font-size: 50rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  font-size: 2rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.form-container {
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  
}

label {
  display: block;
  margin-bottom: 8px;
}

label > span {
  display: inline-block;
  width: 120px;
}

input[type="text"] {
  width: 25%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}

button[type="submit"] {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

